*{
    box-sizing: border-box;
}
#img{
    position:fixed;
    top:85%;
    left:90%;
}
img{
    height:150px;
    width:150px;
}
.notesDiv{
    width:20%;
    height:30%;
    position:absolute;
    padding:1%;
    padding-top: 2%;
}