*{
	box-sizing:border-box;
}
body{
	margin:0px;
	width:100%;
}
#ipbox{
	width:15%;
	margin:5% auto;
}
input{
	text-align: center;
}
.div{
	width:100px;
	height:100px;
	border:1px solid red;
	float:left;
	padding:35px;
	margin:5px;
	font-size: 0px;
}
#display{
	margin:5% auto;
	overflow: auto;
}