*{
    box-sizing: border-box;
}
body{

}
#topMenubar{
    height:3vh;
}
#textBar{
    height:3vh;
}
#mainDiv{
    /* height:90vh; */
    width:150%;
    overflow: auto;
}
.table{
    border:1px solid rgb(146, 141, 141);
    /* float: left; */
}
td{
    border:1px solid black;
    padding:0px;
    width:7vw;
    height:3vh;
    /* max-width:7vw; */
    /* max-height:3vh; */
}