* {
	box-sizing: border-box;
}
html,body{
	background-size:100% 100%;
	background-repeat:no-repeat;
	width:100%;	
	height:100%;
	margin:0px;
	transition:background-image 1s;		
}
#main{
	width:100%; 
	height: 100%;
}
.but:hover{
	box-shadow:0px 0px 40px #ffffff;  
} 
#buts{
	width: 100%;
	height: 89%;
}  
#buts2{
	width: 100%;
	height: 10%;
	/* margin-left: 90%; */

}        
.but{
	color:#19ff47;
	background-color:rgba(61, 21, 6,0.1);
	width:70px;
	height:70px;
	border-radius:50%;
	border:1px solid rgba(61, 21, 6,0.1);
	font-size: 30px;
	margin-top: 25%;
	margin-left: 5%;
}	

#but2 {
	margin-left: 80%;
}

  
.button{
	width:100px;
	height:100px;
	color:#19ff47;
	font-size: 30px;
	border-radius:50%;
	border:1px solid rgba(61, 21 6,0.1);
	margin-left: 30%;
}	